body {
    background-color: rgb(68, 68, 68);
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

.navbar {
    margin-top: -4px;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    height: 90px;
    justify-content: center;
    padding-top: 5px;
}

.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: white;
}

.logo-link img {
    width: 50px; 
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
}


.logo-link span {
    font-size: 14px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
}

.logo-link:hover span {
    color: grey;
    transition: 500ms;
}

.logo-link:hover img {
    filter: brightness(70%);
    transition: 500ms;
}

.container {
    text-align: center;
    width: calc(100% - 40px);
    border-inline: 20px;
    background-color: black;
    margin-top: 40px;
    height: calc(90vh - 60px);
    border-radius: 20px;
    margin-left: 20px;
}

.title {
    color: white;
    text-shadow: 4px 4px gray ;
    font-size: 80px;
    font-weight: 1000;
}

.container-box {
    display: inline-flex;
    width: calc(100% - 120px);
    height: calc(90vh - 210px);
}

.single-box {
    background-color: grey;
    margin-right: 10px;
    border-radius: 10px;
    height: 580px;
    width: 400px;
    margin-top: 40px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 60px;
}

.header img {
    width: 200px;
    height: 200px;
}

.header p {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}